/*
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#genericAbout:-moz-any([title*="Add-ons Manager Context Menu"],
                       [title*="Menu Konteks untuk Pengelola Pengaya"],
                       [title*="Приручни мени у управљачу додацима"]) {
  min-height: 300px !important;
  width: 50em !important;
}

#genericAbout:-moz-any([title*="Add-ons Manager Context Menu"],
                       [title*="Menu Konteks untuk Pengelola Pengaya"],
                       [title*="Приручни мени у управљачу додацима"])
 #extensionDetailsBox {
  min-height: 200px !important;
}

#genericAbout:-moz-any([title*="Add-ons Manager Context Menu"],
                       [title*="Menu Konteks untuk Pengelola Pengaya"],
                       [title*="Приручни мени у управљачу додацима"])
 .text-link {
  border-width: 0 !important;
  color: -moz-hyperlinktext !important;
}

#genericAbout:-moz-any([title*="Add-ons Manager Context Menu"],
                       [title*="Menu Konteks untuk Pengelola Pengaya"],
                       [title*="Приручни мени у управљачу додацима"])
 #extensionDetailsBox .sectionTitle:not([hidden]) + .boxIndent {
  -moz-appearance: textfield-multiline !important;
  padding: .5em 1em !important;
  margin: 0 18px !important;
}

#genericAbout:-moz-any([title*="Add-ons Manager Context Menu"],
                       [title*="Menu Konteks untuk Pengelola Pengaya"],
                       [title*="Приручни мени у управљачу додацима"])
 #extensionDetailsBox .boxIndent {
  color: -moz-fieldtext !important;
}